@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
button,
input,
select,
textarea {
    font-family: 'Roboto', BlinkMacSystemFont, -apple-system, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #000000;
}

#main {
    margin-top: 3.25rem;
    background-color: #FFFFFF;
}

main {
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.shipit {
    color: #E42D40!important;
}

.shipped .container {
    padding: 5px;
    margin-top: 10px;
}

a {
    color: #E42D40;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

a:hover {
    color: #921D29;
}

.shipment .subtitle:not(:last-child),
.shipment .title:not(:last-child) {
    margin-bottom: 0;
}

.banner .hero-body {
    padding: 0.75em;
}

.footer {
    margin-top: 20px;
    padding: 3rem 2rem 3rem;
}

.hero.is-danger,
.button.is-danger {
    background-color: #E42D40;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.navbar .button {
    box-shadow: none;
}

.navbar a:hover {
    color: #ffffff;
    background-color: #E42D40;
}

.navbar {
    position: fixed;
    background-color: #E42D40;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 2;
}

.navbar-item {
    padding: .5rem .5rem;
}

.navbar-item .button.is-light {
    border-color: transparent!important;
}

.navbar-brand {
    padding-left: .5rem;
}

#gh-login,
#gh-logout {
    text-shadow: none;
}

a.card-footer-item.is-danger {
    border-style: solid;
    border-width: 1px;
    border-color: #E42D40;
}

.tag.is-danger {
    background-color: #E42D40!important;
}

.wabble {
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wabble::after {
    z-index: -1;
    box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wabble:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}

.wabble:active {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
}

.wabble:hover::after {
    opacity: 1;
}

#useravatar {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

@media screen and (min-width: 1000px) {
    .navbar-item.has-dropdown {
        -ms-flex-align: none;
    }
}

#logged-in-user {
    cursor: pointer;
}

.unlaunch.button.is-link {
    text-decoration: none;
    margin-top: 5px;
}

.unlaunch.button.is-link:hover,
.unlaunch.button.is-link:active {
    background-color: #ffffff;
}

#time-travel {
    cursor: default;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #E42D40;
    border-bottom-color: #E42D40;
    animation: spinner .8s ease infinite;
}

#shipped-placeholder {
    height: 45vh;
}

.navbar-dropdown {
    background-color: #fff!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb;
    -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
    box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
}

#account-button {
    position: fixed;
    right: 0;
}

.card-header-icon:hover, .card-footer-item:hover {
    background-color: #E42D40;
    color: white;
}

.card-header-icon {
    background-color: white;
    color: #E42D40;
}