@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
button,
input,
select,
textarea {
    font-family: 'Roboto', BlinkMacSystemFont, -apple-system, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.shipit {
    color: #E42D40!important;
}

.shipped .container {
    padding: 5px;
    margin-top: 10px;
}

a {
    color: #E42D40;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in;
}

a:hover {
    color: #921D29;
}

.shipment .subtitle:not(:last-child),
.shipment .title:not(:last-child) {
    margin-bottom: 0;
}

.banner .hero-body {
    padding: 0.75em;
}

.footer {
    margin-top: 20px;
    padding: 3rem 2rem 3rem;
}

.hero.is-danger,
.button.is-danger {
    background-color: #E42D40;
}

a.card-footer-item.is-danger {
    border-style: solid;
    border-width: 1px;
    border-color: #E42D40;
}

.tag.is-danger {
    background-color: #E42D40!important;
}

.wabble {
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wabble::after {
    z-index: -1;
    box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    -webkit-box-shadow: 0 5px 10px rgba(10, 10, 10, .3), 0 0 0 1px rgba(10, 10, 10, 0);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wabble:hover {
    -webkit-transform: scale(1.035, 1.035);
    transform: scale(1.035, 1.035);
}

.wabble:hover::after {
    opacity: 1;
}

#useravatar {
    width: 1.75rem;
    height: 1.75rem;
}

@media screen and (min-width: 1000px) {
    .navbar-item.has-dropdown {
        -ms-flex-align: none;
    }
}

#logged-in-user {
    cursor: pointer;    
}