/* Averta */
@font-face {
    font-family: Averta;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/averta-regular.woff2") format("woff2"), url("../fonts/averta-regular.woff") format("woff");
    unicode-range: U+0000-F8FE, U+F900-FFFF;
}

@font-face {
    font-family: Averta;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/averta-bold.woff2") format("woff2"), url("../fonts/averta-bold.woff") format("woff");
    unicode-range: U+0000-F8FE, U+F900-FFFF;
}