body, html, nav {
  background: linear-gradient(90deg, #ce293c 0%, #e42d42 50%, #eb9763 100%);
}

#main {
  margin-top: 3.25rem;
  background-color: #FFFFFF;
}

main {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.shipit {
  color: #E42D40 !important;
}

.shipped .container {
  padding: 5px;
  margin-top: 10px;
}

a {
  color: #E42D40;
  -o-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  &:hover {
    color: #921D29;
  }
}

.shipment {
  .subtitle:not(:last-child), .title:not(:last-child) {
    margin-bottom: 0;
  }
}

.banner .hero-body {
  padding: 0.75em;
}

.footer {
  margin-top: 20px;
  padding: 3rem 2rem 3rem;
}

.hero.is-danger {
  background: linear-gradient(90deg, #ce293c 0%, #e42d42 50%, #eb9763 100%);
}

.button.is-danger {
  background-color: #E42D40;
}

.navbar {
  .button {
    box-shadow: none;
  }
  #nav-name, #nav-name:hover {
    color: #ffffff;
    background-color: transparent;
  }
  .button.is-light {
    border-color: transparent !important;
  }
  position: fixed;
  background: linear-gradient(90deg, #ce293c 0%, #e42d42 50%, #eb9763 100%);
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 2;
}

a.navbar-item {
  color: #000;
  padding: .5rem .5rem;
}

.navbar-brand {
  padding-left: .5rem;
}

#gh-login, #gh-logout {
  text-shadow: none;
}

a.card-footer-item.is-danger {
  border-style: solid;
  border-width: 1px;
  border-color: #E42D40;
}

.tag.is-danger {
  background-color: #E42D40 !important;
}

.wabble {
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  &::after {
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  &:active {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

#useravatar {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

@media screen and (min-width: 1000px) {
  .navbar-item.has-dropdown {
    -ms-flex-align: none;
  }
}

#logged-in-user {
  cursor: pointer;
}

.unlaunch.button.is-link {
  text-decoration: none;
  margin-top: 5px;
  margin-right: 5px;
  &:hover, &:active {
    background-color: #ffffff;
    color: #e42d42;
  }
}

#time-travel {
  cursor: default;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #E42D40;
  border-bottom-color: #E42D40;
  animation: spinner .8s ease infinite;
}

#shipped-placeholder {
  height: 45vh;
}

.navbar-dropdown {
  background-color: #fff !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  display: none;
  font-size: .875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
}

#account-button {
  position: fixed;
  right: 0;
}

.card-header-icon:hover, .card-footer-item:hover {
  background-color: #E42D40;
  color: #fff;
}

.card-header-icon {
  background-color: #fff;
  color: #E42D40;
}

.hero.is-small .hero-body {
  margin-bottom: 25px;
}

.featured-project .card {
  -moz-box-shadow: 0 0 10px #e42d42;
  -webkit-box-shadow: 0 0 10px #e42d42;
  box-shadow: 0px 0px 10px #e42d42;
}

/*#featured {

  .card .card-header{
    background: linear-gradient(90deg, #ce293c 0%, #e42d42 50%, #eb9763 100%);

    p.card-header-title {
      color: #fff;

      small {
        color: #fcfcfc;
      }
    }

  }

}*/

.gradient {
  background-image: linear-gradient(90deg, #ce293c 0%, #e42d42 50%, #eb9763 100%);
  color: #fff!important;
  p{
    color: #fff;

    small {
      color: #fefefe;
      font-weight: normal;
    }
  }

}